@model TicketShop.RestApiClient.Model.Event
@{
    ViewData["Title"] = "Update Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewData["Title"]</h2>
<div class="row">
    @if (Model == null)
    {
        <h3>No Event Found</h3>
    }
    else
    {

        if (String.IsNullOrEmpty(Model.EventImagePath))
        {
            Model.EventImagePath = "Images/placeholder.png";

        }
        <form asp-area="admin" asp-controller="event" asp-action="edit" method="post" class="form-horizontal" role="form">

            <div class="col-sm-6 col-md-8">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EventName" class="col-md-2 control-label">Event Name: </label>
                    <div class="col-md-10">
                        <input asp-for="EventName" class="form-control" value="@Model.EventName" />
                        <span asp-validation-for="EventName" class="text-danger"></span>

                    </div>
                    <label asp-for="EventHtmlDescription" class="col-md-2 control-label">Event Html Description: </label>
                    <div class="col-md-10">
                        <textarea asp-for="EventHtmlDescription" class="form-control">
                            @Model.EventName
                        </textarea>
                        <span asp-validation-for="EventHtmlDescription" class="text-danger"></span>
                    </div>
                    <label asp-for="EventImagePath" class="col-md-2 control-label">Event Image Path: </label>
                    <div class="col-md-10">
                        <input asp-for="EventImagePath" class="form-control" value="@Model.EventImagePath" />
                        <span asp-validation-for="EventImagePath" class="text-danger"></span>
                    </div>
                    <input asp-for="TicketEventID" class="form-control" type="hidden" value="@Model." />
                </div>
            </div>

            <input type="submit" value="Update Event" class="btn btn-success pull-right" />
            
        </form>

    }
</div>